body{
    margin: 0px;
    background-color: rgb(68, 157, 187);
    background-image: url(imagens/outerspace-bkg.gif), url(imagens/outerspace-bkg2.gif);
    background-repeat: no-repeat;
    background-size: auto 100%;
}

header{
    display: grid;
    height: 60px;
    background-image: url(imagens/headerpt1.png), url(imagens/headerpt2.png);
    background-position: left, right;
    background-repeat: no-repeat;
    grid-template-rows: auto;
    grid-template-columns: auto auto auto auto auto auto 20%;
    grid-template-areas: "logo bta btf btj btl bts .";
    background-color: rgb(32, 32, 32);
    border-bottom: 1px solid black;
}

.logoimg{
    grid-area: logo;
    margin-left: 20px;
}

.bta{grid-area: bta}
.btf{grid-area: btf}
.btj{grid-area: btj}
.btl{grid-area: btl}
.bts{grid-area: bts}

header button a{
    text-decoration: none;
    font-size: 22px;
    font-family: Georgia;
    color:whitesmoke;
    padding: 18px;
}

header button{
    border: none;
    background-color: transparent;
    height: 60px;
}

header button a:hover{
    color: black;
    background: gray;
}

.introducao{background: linear-gradient(0deg, salmon, #C71585, #FFD700, #E6E6FA, #4B0082, #3CB371);}

.sessao{
    margin: none;
    width: 100%;
    background-color: rgb(34, 11, 56);
    color: gold;
    font-size: 36px;
    border-radius: 20px;
    margin: 0px;
    padding: 0px;
}

.series{
    font-size: 33px;
    color:rgb(222, 207, 207);
    font-family: Haettenschweiler;
}

.retorno{
    float: left;
    margin: 30px 0px 50px 80px;
}

.retorno a{
    color: gold;
    font-size: 24px;
    padding: 3px;
    background-color: rgb(69,69,69);
    text-decoration: none;
    border: 4px solid red;
    border-bottom-left-radius: 60px;
    border-top-left-radius: 60px;
}

.retorno a:hover{
    animation: bordaframe 5s ease-in-out infinite;
}

.topo{
    float: right;
    margin: 30px 80px 50px 0px;
}

.topo a{
    color: gold;
    font-size: 24px;
    padding: 3px;
    background-color: rgb(69,69,69);
    text-decoration: none;
    border: 4px solid red;
    border-bottom-right-radius: 60px;
    border-top-right-radius: 60px;
}

.topo a:hover{
    animation: bordaframe 5s ease-in-out infinite;
}

.centro{
    margin: 10px 80px;
}

.indice{
    margin: 40px 10px 10px 80px;
    width: 60%;
}

aside{
    width: 25%;
    float: right;
    margin-right: 20px;
    margin-top: 20px;
    border: 1px solid purple;
    background: linear-gradient(to right, lightblue, rgb(186, 232, 247), lightblue, rgb(186, 232, 247), lightblue, rgb(186, 232, 247), lightblue, rgb(186, 232, 247));
    border-radius: 3px;
    font-family:'Lucida';
    color:darkred;
}

aside ul{
    list-style: none;
}

#proximos{
    font-size: 23px;
    text-decoration: underline solid black;
    text-align: center;
    margin-bottom: 5px;
}

.item{
    font-size: 19px;
    text-decoration: underline dotted black;
    padding: 2px;
}

.frame{
    background-image: url(imagens/exploding_sapce.jpg);
    background-size: 450px;
    background-position: center;
    background-repeat: no-repeat;
    border: solid red;
    border-width: 4px;
    border-top-left-radius: 85px;
    border-top-right-radius: 85px;
    height: 330px;
    width: 180px;
    margin: 40px;
    display: inline-block;
}

.frame:hover{
    animation: bordaframe 5s ease-in-out infinite;
}

.imglogo{
    justify-content: center;
    height: 75px;
}

.imgjanelas{
    display: flex;
}

.imgjanelas:hover{
    animation: imagens 2s ease-in-out infinite;
    cursor: url(imagens/sitelogo3.png), auto;
}

@keyframes bordaframe{
    0%{border: solid red 4px;}
    9%{border: solid orange 4px;}
    17%{border: solid yellow 4px;}
    25%{border: solid green 4px;}
    33%{border: solid blue 4px;}
    41%{border: solid indigo 4px;}
    49%{border: solid violet 4px;}
    57%{border: solid indigo 4px;}
    65%{border: solid blue 4px;}
    73%{border: solid green 4px;}
    81%{border: solid yellow 4px;}
    89%{border: solid orange 4px;}
}

@keyframes imagens{
    0%{transform: scale(1);}
    50%{transform: scale(1.2);}
    100%{transform: scale(1);}
}

.rsnlp{height: 230px; margin-left:11px; margin-top: 82px;}
.rsnlplog{height: 230px;}

.tls{height: 230px; margin-left: 12px; margin-top: 82px;}
.tlslog{height: 230px;}

.vtr{margin-left: -25px;margin-top: 30px;}
.vtrlog{width:250px; margin-left: -18px;}

.btlh{height: 230px; margin-left: 10px; margin-top: 82px;}
.btlhlog{height: 230px;}

.bf{margin-left: -45px; margin-top: 3px;}

.bldm{margin-left: -25px; margin-top: 8px;}
.bldmlog{margin-left: 25px;}

.bblt{height: 230px; margin-left: 11px; margin-top: 82px;}
.bbltlog{height: 230px;}

.brms{height: 230px; margin-left: 11px; margin-top: 82px;}
.brmslog{height: 230px;}

.crds{margin-left: -35px;}
.crdslog{margin-left: -20px;}

.cdz{margin-left: -3px;}
.cdzlog{margin-left: 7px;}

.chnts{margin-top: 53px; margin-left: 3px;}
.chntslog{margin-left: 20px;}

.crc{height: 230px; margin-left: 14.5px; margin-top: 82px;}
.crclog{height: 230px;}

.crnc{height: 230px; margin-left: 1px; margin-top: 82px;}
.crnclog{height: 230px;}

.trnrdrg{margin-left: -23px;}
.trnrdrglog{margin-left: 2px}

.dmn{margin-left: -4px;}
.dmnlog{margin-left: 22px;}

.digi{margin-left: -10px; margin-top: 10px;}
.digilog{margin-left: 15px;}

.drkgntls{margin-left: -21px; margin-top: 25px;}
.drkgntlslog{margin-left: 8px;}

.dklog{margin-left: -30px; width: 250px;}
.dk{margin-left: -30px;margin-top: 10px;}

.dw{margin-left: 17px; margin-top: 32px}
.dwlog{margin-left: 53px;}

.dwlvr{height: 230px; margin-left: 10px; margin-top: 82px;}
.dwlvrlog{height: 230px;}

.strnh{margin-left: 8px}
.strnhlog{margin-left: 23px; margin-top: 5px}

.dbz{margin-left: 9px;}
.dbzlog{margin-left: -25px;}

.ff{margin-left: -10px;}
.fflog{margin-left: -15px; width: 220px;}

.hmm{margin-left: -45px;}
.hmmlog{margin-left: 22px;}

.hp{margin-left: -19px; margin-top: -5px}
.hplog{margin-left: -15px;}

.hrtst{margin-left: -11px; margin-top: 24px}
.hrtstlog{margin-left: -20px;}

.hll{margin-left: -6px; margin-top: 37px;}
.hlllog{margin-left: -9px}

.hs{margin-left:-3px; margin-top: 5px}
.hslog{width:250px; margin-left: -35px}

.nysh{margin-left: -3.5px;}

.kh{margin-left: -12px; margin-top: 4px;}
.khlog{margin-left: 28px;}

.krb{margin-left: -10px; margin-top: 20px;}
.krblog{margin-left: 5px;}

.jj{margin-left: 18px;}
.jjlog{margin-left: 15px;}

.jjts{margin-left: -4px;}
.jjtslog{margin-left: -30px; width: 240px;}

.mtmrfs{height: 230px; margin-left: 8px; margin-top: 82px;}
.mtmrfslog{height: 230px;}

.mmlv{margin-left: 7px;}
.mmlvlog{margin-left: 55px;}

.mnhm{margin-left: 3px; margin-top: 3px;}
.mnhmlog{margin-left: 30px;}

.mln{margin-left: 45px; margin-top: 12px;}
.mlnlog{margin-left: 9px}

.pqnlj{height: 230px; margin-left: 15px; margin-top: 82px;}
.pqnljlog{height: 230px;}

.prsnlog{margin-left: -20px;}

.poke{margin-top: 50px; margin-left: -5px;}
.pokelog{margin-left: -15px;}

.sndmn{margin-left: -10px; margin-top: 24px}
.sndmnlog{margin-left: -40px; width: 250px;}

.snhr{margin-left: 30px;}
.snhrlog{width: 250px; margin-left: -25px;}

.snhrlvr{height: 230px; margin-left: 12.5px; margin-top: 82px;}
.snhrlvrlog{height: 230px;}

.shmn{margin-left: 13px;}
.shmnlog{margin-left: 33px;}

.snclog{margin-left: -20px;}
.snc{margin-top: 60px;margin-left: -8px;}

.sncflm{margin-left: 35px; margin-top: 7px;}
.sncflmlog{margin-left: 3px;}

.stvn{margin-left: -12px; margin-top: 60px;}
.stvnlog{margin-left: -8px;}

.strngr{margin-top: 24px; margin-left: 4px;}
.strngrlog{margin-left: 32px;}

.mr{margin-top: 10px; margin-left: 10px;}
.mrlog{margin-left: -7px;}

.nnny{margin-left: -55px; margin-top: 65px;}
.nnnylog{margin-left: 28px;}

.ttnc{margin-left: -10px}
.ttnclog{width: 250px; margin-left: -35px;}

.bbth{margin-left: -30px; margin-top: 57px;}
.bbthlog{margin-left: 60px;}

.cntlh{height: 230px; margin-left: 14px; margin-top: 82px;}
.cntlhlog{height: 230px;}

.mbrll{margin-left:-20px; margin-top: 95px}
.mbrlllog{margin-left: 52px;}

.wndnh{margin-left: -15px; margin-top: 22px;}
.wndnhlog{margin-left: -35px;}

.wtchr{margin-left: 10px; margin-top: 23px;}
.wtchrlog{width:250px; margin-left: -33px}

.yngsh{margin-left: 28px; margin-top: 5px;}
.yngshlog{margin-left: -2px;}

.zel{margin-top: 10px; margin-left: 5px;}

.livros{
    background-color: rgb(0, 148, 148);
    border-radius: 5px;
}

object{
    margin: 50px 0px 50px 0px;
    border: 6px solid red;
}

.reviews{ 
    width: 80%; 
    margin: 25px 10% 35px 10%;
}

.reviews fieldset{
    background: linear-gradient(rgb(1, 158, 158), rgb(0, 180, 180), rgb(1, 220, 220) ,rgb(0, 255, 255));
    border-radius: 15px;
}

.reviews fieldset legend{
    border: 1px solid purple;
}

.reviews h1{
    color: rgb(117, 0, 0);
    font-size: 29px;
    font-family: 'Trebuchet MS';
    text-decoration: underline dotted;
}

.reviews h2{
    font-size: 24px;
    text-decoration: underline solid;
}

.reviews p{
    font-size: 20px;
    font-family: fantasy;
}

footer{
    width: 100%;
    display: grid;
    background: linear-gradient(to right, white, grey, black, violet);
    grid-template-rows: auto;
    grid-template-columns: 15% auto 27%;
    grid-template-areas: "copy formulario outros";
    font-size: 18px;
    border-top: 0.5px solid red;
}

.copyright{
    grid-area: copy;
    text-align: center;
    margin-top: 250px;
}

.recomendacao{
    width: 500px;
    grid-area: formulario;
    margin-left: 60px;
    color: whitesmoke;
}

.recomendacao fieldset{
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: auto auto;
    grid-template-areas: "side1 side2";
    column-gap: 30px;
    margin-top: 10px;
    margin-bottom: 20px;
    border-color: rgb(88, 95, 2);
}

.recomendacao fieldset legend{
    border: 1px solid rgb(88, 95, 2);
}

.recomendacao textarea{
    resize: none;
}

.side1{grid-area: side1;}
.side2{grid-area: side2;}

.contato{
    grid-area: outros;
    color:  white;
    text-align: center;
    font-size: 25px;
}

.medias{
    background-color: white;
    border-radius: 10px;
    margin: 1px 8px;
}

.obras{
    height: 250px;
    width: 200px;
    animation: obra 5s ease infinite;
}

@keyframes obra{
    0%{background-image: url(imagens/boneco-placa-obras12.png);}
    25%{background-image: url(imagens/boneco-placa-obras22.png);}
    50%{background-image: url(imagens/boneco-placa-obras32.png);}
    75%{background-image: url(imagens/boneco-placa-obras42.png);}
    100%{background-image: url(imagens/boneco-placa-obras12.png);}
}

@media (max-width: 1366px) {
    footer{
        width: 100%;
        grid-area: footer;
        background: linear-gradient(to right, white, grey, black, violet);
        font-size: 18px;
        border-top: 0.5px solid red;
    }

    .copyright{
        display:block;
        text-align: center;
        font-size: 10px;
    }
    
    .recomendacao{
        display: block;
        width: 500px;
        margin-left: 30px;
        color: rgb(181, 197, 5);
    }
    
    .recomendacao fieldset{
        display: block;
        column-gap: 30px;
        margin-top: 10px;
        margin-bottom: 20px;
    }
    
    .recomendacao fieldset legend{
        border: 1px solid black;
    }
    
    .recomendacao textarea{
        columns: 10;
    }
    
    .contato{
        display: block;
        color:  rgb(181, 197, 5);
        text-align: center;
        font-size: 25px;
    }
    
    .medias{
        background-color: white;
        border-radius: 10px;
        margin: 1px 8px;
    }
}

@media (min-width:2000px){
    body{background-size: 100% 100%;}
}